/* 底部导航栏样式 */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(20px);
  border-top: 1rpx solid #f3f4f6;
  padding: 16rpx ;
  padding-bottom: 24rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  box-sizing: border-box;
}

.nav-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rpx;
  color: #9ca3af;
  transition: color 0.3s ease;
  padding: 8rpx 0;
}

.nav-item.active {
  color: #D7423D;
}

.nav-icon {
  font-size: 24rpx;
}

.nav-text {
  font-size: 28rpx;
  font-weight: 500;
}
.nav-text-2 {
  font-size: 28rpx;
  font-weight: 500;
  border: #9ca3af;
  border-radius: 40rpx;
  padding: 8rpx 8rpx;
  border-style: solid;
  text-align: center;
}